<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Mantra - Update Driver </title>
  <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <form th:action="@{/driver/update-sedang/} + ${driver.uuid} + @{/} + ${request.id}" th:object="${driver}" method="POST">
          <h2 th:text="'Apakah Anda Yakin ingin Menugaskan Driver dengan Username ' + ${driver.username} + ' Untuk Request dengan Id ' + ${request.id}"></h2>
          <br>
          <button class="btn btn-success" type="submit">Ya</button>
          <a class="btn btn-danger" th:href="@{/driver/update/} + ${driver.uuid}">Tidak</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>