<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="fragments/fragment :: style" th:remove="tag"></object>
  <style>
    .center {
      margin: 0;
      position: absolute;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    td {
      padding: 0 10px;
    }
  </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <ul th:replace="fragments/fragment :: sidebar('User')"></ul>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <nav th:replace="fragments/fragment :: topbar"></nav>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Detail User</h1>
        <!-- ISI DISIN YA MANIS -->

        <div class="container">
          <div class="card m-4 p-4">
            <div class="card-body">
              <div class="justify-content-center">
                <table>
                  <tbody>
                    <tr>
                      <td class="h4 text-gray-700">Uuid</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.uuid}"></td>
                    </tr>
                    <tr>
                      <td class="h4 text-gray-700">Nama</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.nama}"></td>
                    </tr>
                    <tr>
                      <td class="h4 text-gray-700">Username</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.username}"></td>
                    </tr>
                    <tr>
                      <td class="h4 text-gray-700">Role</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.role.name}"></td>
                    </tr>
                    <tr>
                      <td class="h4 text-gray-700">Email</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.email}"></td>
                    </tr>
                    <tr>
                      <td class="h4 text-gray-700">Nomor Telepon</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.noTelepon}"></td>
                    </tr>
                    <tr th:if="*{user.role.name == 'Driver'}">
                      <td class="h4 text-gray-700">Nomor SIM</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.sim}"></td>
                    </tr>
                    <tr th:if="*{user.role.name == 'Customer'}">
                      <td class="h4 text-gray-700">Asal Instansi</td>
                      <td class="h5 text-secondary" th:text="': '+ ${user.asalInstansi}"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
                <div class="center">
                  <a class="btn btn-primary" th:href="@{/user/viewall}">Kembali</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <footer th:replace="fragments/fragment :: cr"></footer>
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<a th:replace="fragments/fragment :: scrolltop"></a>
<div th:replace="fragments/fragment :: logoutmodal"></div>

<footer>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <object th:include="fragments/fragment :: ts" th:remove="tag"></object>
</footer>

</body>

</html>